#popup-main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}
#popup-inner {
  display: flex;
  flex-direction: column;
  height: 21rem;
  width: 18rem;
  max-width: 640px;
  background-color: white;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--bright-cyan);
  justify-content: space-between;
  font-size: var(--font-size-header);
  padding-left: var(--padding-left);
  margin-bottom: 10px;
  /* padding-right: var(--padding-left); */
}
.react-icon {
  color: var(--bright-cyan);
  cursor: pointer;
}
.focus:focus {
  background-color: var(--lime-green);
}

@media only screen and (min-width: 768px) {
  #popup-inner {
    height: 24rem;
    width: 34rem;
  }
}
