@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /*primary colors*/
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 76%, 53%);
  /* body */
  --font-size-header: 1rem;
  --padding-left: 2rem;
}
main {
  font-family: "Josefin Sans", cursive;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
}
@media only screen and (min-width: 768px) {
  main {
    padding: 0;
  }
}
#popup-button:focus {
  background-color: cyan;
}
